<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="email"
        name="email"
        ngModel #emailInput="ngModel"
        placeholder="E-mail"
        required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid Email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        name="password"
        matInput
        ngModel #passwordInput="ngModel"
        placeholder="Password"
        required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid Password.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Signup</button>
  </form>
  </mat-card>
